/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex */
.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid-container {
  height: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 5px;
}

body {
  font-size: 10px;
  background-color: rgb(177, 220, 253);
}

main {
  background-color: rgb(179, 179, 179);
  width: 440px;
  margin-top: 20vh;
  padding: 10px;
  border-radius: 14px;
  box-shadow: rgb(82, 82, 82) 5px 5px 3px;
  border: 4px solid rgb(61, 61, 61);
}

button {
  color: rgb(53, 53, 53);
  background-color: rgb(220, 220, 220);
  font-family: "VT323", monospace;
  font-size: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(112, 112, 112);
  cursor: pointer;
}

#display {
  background-color: rgb(249, 249, 249);
  border: 3px rgb(53, 53, 53) solid;
  border-radius: 5px;
  text-align: right;
  color: rgb(53, 53, 53);
  font-size: 4rem;
  font-family: "VT323", monospace;
  margin: 5px;
  margin-bottom: 10px;
}

.previous-operand {
  min-height: 50px;
  border: 2px rgb(53, 53, 53) solid;
  font-size: 2rem;
  padding: 8px 20px 8px 10px;
  word-wrap: break-word;
}

.current-operand {
  min-height: 75px;
  border: 2px rgb(53, 53, 53) solid;
  padding: 10px;
  word-wrap: break-word;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

.btn-orange:hover {
  background-color: rgb(255, 222, 193);
}

.btn-blue:hover {
  background-color: rgb(195, 240, 255);
}

.btn-orange {
  background-color: rgb(255, 188, 129);
}

.btn-blue {
  background-color: rgb(152, 229, 255);
}

.span-two {
  grid-column: 1 / 3;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 10px;
}
footer div {
  width: 210px;
}
span {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  color: rgb(38, 38, 38);
  text-decoration: underline;
  display: inline-block;
  transform: scaleY(0.8);
}
svg {
  height: 22px;
  width: 22px;
  position: relative;
  top: 6px;
  left: 5px;
  fill: rgb(38, 38, 38);
}

/* Animations */
/* Git icon */
svg {
  transition: transform 0.3s ease-in-out;
}
svg:hover {
  transform: rotate(360deg) scale(1.2);
}

/* Media Queries */
@media only screen and (max-width: 620px) {
}

/* Media Queries */
@media only screen and (max-height: 785px) {
  footer {
    display: none;
  }
}
